/*
 * INMP441 wiring:
 *   INMP441 SCK  -> DK pin 14 / P3.03  (TDM_SCK_M)
 *   INMP441 WS   -> DK pin 8  / P1.13  (TDM_FSYNC_M)
 *   INMP441 SD   -> DK pin 18 / P3.06  (TDM_SDIN)
 *   INMP441 VDD  -> 3V3
 *   INMP441 GND  -> GND
 *   INMP441 L/R  -> GND (left channel)
 */

/ {
	aliases {
		i2s-mic-rx = &tdm;
	};
};

&pinctrl {
	tdm_default: tdm_default {
		group1 {
			psels = <NRF_PSEL(TDM_SCK_M, 1, 23)>,
				<NRF_PSEL(TDM_FSYNC_M, 1, 22)>,
				<NRF_PSEL(TDM_SDIN, 1, 13)>;
		};
	};
};

&tdm {
	status = "okay";
	pinctrl-0 = <&tdm_default>;
	pinctrl-names = "default";
};

&uart20 {
	current-speed = <115200>;
};
